
<!DOCTYPE html>
<html lang="en" ng-app="NDeditor" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>NDeditor</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/jquery-ui.flat.min.css" rel="stylesheet">
    <link href="css/angular.treeview.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
    body {
  	  padding-top: 50px;
      background-color: #000;
  	}
    .code-view {
      height:400px;
      width:700px;
      background-color:#fff;
    }
    .code-view-title{
      height:20px;
    }
    .ace_editor { 
      height: -moz-calc(100% - 20px);
      height: -webkit-calc(100% - 20px);
      height: calc(100% - 20px);
      width:100%;
    }
    </style>
  </head>

  <body >

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NDeditor</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div
          data-angular-treeview="true"
          data-tree-id="abc"
          data-tree-model="treedata"
          data-node-id="id"
          data-node-label="label"
          data-node-children="children" >
      </div>
      <div class="code-view ui-widget-content" draggable="{handle:'.code-view-title'}" resizable resizable-element="resizableelement">
        <div class="code-view-title">Editor</div>   
        <div ui-ace="{theme:'monokai',mode:'javascript'}" ace-element="aceeditor"></div>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.ui.draggable.min.js"></script>
    <script src="js/jquery.ui.resizable.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ace/ace.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ui-ace.js"></script>
    <script src="js/angular.treeview.js"></script>


    <script src="js/main.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost');
      socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
      });
    </script>

  </body>
</html>
